.app-share-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  color: inherit;
  font-size: inherit;
  line-height: 1;
  box-sizing: border-box;

  &::after {
    border: 0;
  }
}
