.base-empty {
  width: 100%;
  padding: 32px 24px;
  box-sizing: border-box;
}

.base-empty__image {
  display: block;
  width: 220px;
  height: 170px;
}

.base-empty__image--small {
  width: 156px;
  height: 120px;
}

.base-empty .nut-empty-title {
  color: $color-text-primary;
  font-weight: 500;
}

.base-empty .nut-empty-description {
  color: $color-text-secondary;
}
