._pg-scene--mall {
  ._pg-status-card {
    border-top: 8px solid #3f7fd9;
  }

  ._pg-contact-card {
    margin-top: 16px;
  }

  ._pg-fulfillment-card {
    ._pg-line-row_label {
      width: 168px;
    }
  }
}
