.ticket-submit-footer {
  position: relative;
  overflow: visible;
  background: #ffffff;

  &__top-shadow {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 2;
    height: 1px;
    box-shadow: 0 -6px 10px rgba(33, 33, 33, .2);
    pointer-events: none;
  }

  &__bar {
    position: relative;
    z-index: 1;
    box-shadow: none;
  }

  &__bar .hkp-submit-bar__amount {
    color: $color-primary;
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
  }

  &__discount {
    color: $color-text-secondary;
    font-size: 24px;
    line-height: 1.4;
  }
}
